
{% extends "main.html" %}

{% block content %}

<main class="container">
    <section class="card-card body">
        <h1 class="display-1 text-center">Welcome to The Last Bell</h1>
        <span class="border" style="bg-dark">
<p>
    Carta de los desarrolladores:
    Hola bienvenidos a The Last Bell, es un honor que hoy esten con nosostros probando nuestro software relacionado a la inclusion de las personas con dificultades a circulos sociales
Este proyecto tiene como objetivo brindar una experiencia placentera y educativa a las personas que lo jueguen teniendo un amplio contenido en relacion con el tema, nuestra intension nunca fue insultar a las personas que batallas todos los dias con dichas dificultades al contrario pensamos que con dicho juego dar a conocer que todos somos iguales y que vale la pena socializar y no excluir a cualquier persona, todas las personas tienen algo para decir y contar ;)
    Esperamos de corazon que se diviertan y aprendan, esa es la mejor forma de aprender al fin y al cabo
</p>
            </span>
        <div class="text-center">
            <a class="btn btn-secondary" href="/singup/">
                Sing in
            </a>
            <a class="btn btn-dark" href="/singin/">
                Sing up
            </a>
        </div>
    </section>
</main>


{% endblock %}


