
{% extends "main.html" %}
{% load static %}
{% block content %}


    <section class="card-card body" style="background-image: url('{% static "maininicial.jpg" %}');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    min-height: 100vh;
                    width: 100%;
">
        <h1 class="display-1 text-center">Welcome to The Last Bell</h1>
        <span class="border" style="bg-dark">
            </span>
        <div class="text-center">
            <a class="btn btn-secondary" href="/singup/">
                Sign up
            </a>
            <a class="btn btn-dark" href="/singin/">
                Sign in
            </a>
        </div>
    </section>



{% endblock %}


