
{% extends "main.html" %}
{% load static %}
{% block content %}


    <section class="card-card body" style="background-image: url('{% static "maininicial.jpg" %}');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    min-height: 100vh;
                    width: 100%;
">
        <h1 class="display-10 text-center">Welcome to The Last Bell</h1>
        <span class="border" style="bg-dark">
            </span>
<main>
    <div class="text-center" style="
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
">
  <p>Proyecto Inicial para promover la Inclusión mediante un videojuego

Carta de los desarrolladores:
      Hola bienvenidos a The Last Bell, es un honor que hoy esten con nosostros probando nuestro software relacionado a la inclusion de las personas con dificultades a circulos sociales Este proyecto tiene como objetivo brindar una experiencia placentera y educativa a las personas que lo jueguen teniendo un amplio contenido en relacion con el tema, nuestra intension nunca fue insultar a las personas que batallas todos los dias con dichas dificultades al contrario pensamos que con dicho juego dar a conocer que todos somos iguales y que vale la pena socializar y no excluir a cualquier persona, todas las personas tienen algo para decir y contar ;) Esperamos de corazon que se diviertan y aprendan, esa es la mejor forma de aprender al fin y al cabo</p>
</div>
</main>

            <div class="text-center">
            <a class="btn btn-secondary" href="/singup/">
                Sign up
            </a>
            <a class="btn btn-dark" href="/singin/">
                Sign in
            </a>
            </div>


    </section>



{% endblock %}


