
{% extends "base_sing.html" %}
{% load static %}
{% block content %}

<section class="h-100 gradient-form" style="background-image: url('{% static "login.jpg" %}');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;">

  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100" style="margin-bottom:50px; margin-top:50px;">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;  background-color: rgba(255, 255, 255, 0.85);">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                <div class="text-center">
                  <img src="{% static "Logotipo.jpg" %}";
                    style="width: 150px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1, margin-bottom:20px">Sign up</h4>
                </div>
                <form action="/singup/" method="POST">

                    <div class="mb-3 text" >
                        <label for="username">
                            Username

                        </label>
                        <input type="text" name="username" class="form-control"  id="username"
                               placeholder="Write your username">
                    </div>

                    <div class="mb-3">
                        <label for="password1">
                            Password
                        </label>
                        <input type="password" name="password1" class="form-control"  id="password1"
                               placeholder="Write your password">
                    </div>
                    <div class="mb-3">
                        <label for="password2">
                            Confirm your password

                        </label>
                        <input type="password" name="password2" class="form-control"  id="password2"
                               placeholder="Write your password again">
                    </div>
                    {{Error}}
                <div class="d-flex justify-content-center">
                  <button>Register</button>
                </div>

                    {% csrf_token %}
                <p class="text-center text-muted mt-5 mb-0; margin-top: 10px">Have already an account? <a href="/singin"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
