
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Last Bell{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>
<body>
    <div class="game-hud">
        <div class="container">
                <div class="col">
                    {% if request.user.Username.day == -1 %}
                    Dia: Prologo
                    {% else %}
                    Día: {{ request.user.Username.day }}/7
                    {% endif %}
                    <div class="d-flex col text-end">
                        <button>Menu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <audio id="bgMusic" loop preload="auto">
    <source src="{% static 'sounds/mix-audio.MP3' %}" type="audio/mpeg">
    </audio>

    <script>
    let savedTime = localStorage.getItem("musicTime");
    const audio = document.getElementById("bgMusic");
    audio.addEventListener("loadedmetadata", () => {
        if (savedTime) {
            audio.currentTime = parseFloat(savedTime);
        }
        audio.play();
    });

    setInterval(() => {
        localStorage.setItem("musicTime", audio.currentTime);
    }, 500);
    </script>


    <main class="game-container">
        {% block content %}{% endblock %}
    </main>
    <div id="autosave-indicator" class="autosave-indicator">
        💾 Guardado automático
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/game.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
